
.clearSky {
    display:flex;
    flex-direction:column;
    width: 250px;
    background-image: url('../img/clear-sky.jpg');
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.6);
    background-size: cover;
    background-repeat: no-repeat;
	position: relative;
}
.brokenClouds{
    display:flex;
    flex-direction:column;
    width: 250px;
    background-image: url('../img/broken-clouds.jpg');
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.6);
    background-size: cover;
    background-repeat: no-repeat;
	position: relative;
}
.scatteredClouds{
    display:flex;
    flex-direction:column;
    width: 250px;
    background-image: url('../img/scattered-clouds.jfif');
    border: 2px solid black;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
}
.smoke{
    display:flex;
    flex-direction:column;
    width: 250px;
    background-image: url('../img/smoke.jpg');
    border: 2px solid black;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat; 
}
.fewClouds{
    display:flex;
    flex-direction:column;
    width: 250px;
    background-image: url('../img/few_clouds.jpg');
    border: 2px solid black;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;  
}
.overcastClouds{
    display:flex;
    flex-direction:column;
    width: 250px;
    background-image: url('../img/overcast-clouds.jpg');
    border: 2px solid black;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;  
}
.info {
    display:block;
    align-items: center;
    justify-content: space-around;
}

.btn {
    color : whitesmoke;
    background-color:lightcoral;
    border-radius: 5px;
    width: 30px;
    margin: 5px;
    align-self: flex-end;
}

.btn:hover{
    color:black;
    background-color: whitesmoke;
}
.img{
    position: relative;
    width: 150px;
}