
.btnSearch{
    text-decoration: none;
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
    color: #fdfaf6;
    background-color: #233e8b;
    border-radius: 20px;
    border: 2px solid #21094e;;
}
.btnSearch:hover{
    opacity: 0.8;
    text-decoration: none;
    cursor:pointer;
}
.input{
    padding: 10px;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    border: 2px solid #21094e;;
    border-radius: 20px;
    width: 250px;
}